<p class="navbar" style="text-align: center; background-color: white;">
  <a href="{{site.baseurl}}">DCSA</a> | 
  <a href="{{site.baseurl}}new-students">New Students</a> | 
  <a href="{{site.baseurl}}elections">Elections</a> | 
  <a href="{{site.baseurl}}budget">Budget</a> | 
  <a href="{{site.baseurl}}sports-societies">Sports & Societies</a> | 
  <a href="{{site.baseurl}}facilities">Facilities</a> | 
  <a href="{{site.baseurl}}contact">Contact</a> |
  <a href="{{site.baseurl}}welfare">Welfare</a> 
  <!-- <a href="https://www.google.com">FAQ</a>   -->
</p>
