<p class="navbar" style="text-align: center; background-color: white;">
  <a href="{{site.baseurl}}">DCSA</a> | 
  <a href="{{site.baseurl}}content/new-students">New Students</a> | 
  <a href="{{site.baseurl}}content/elections">Elections</a> | 
  <a href="{{site.baseurl}}content/budget">Budget</a> | 
  <a href="{{site.baseurl}}content/sports-societies">Sports & Societies</a> | 
  <a href="{{site.baseurl}}content/facilities">Facilities</a> | 
  <a href="{{site.baseurl}}content/contact">Contact</a> |
  <a href="{{site.baseurl}}content/welfare">Welfare</a> 
  <!-- <a href="https://www.google.com">FAQ</a>   -->
</p>
