<p class="navbar" style="text-align: center; background-color: white;">
  <a href="{{site.baseurl | absolute_url}}">DCSA</a> | 
  <a href="{{site.baseurl | absolute_url}}new-students">New Students</a> | 
  <a href="{{site.baseurl | absolute_url}}elections">Elections</a> | 
  <a href="{{site.baseurl | absolute_url}}budget">Budget</a> | 
  <a href="{{site.baseurl | absolute_url}}sports-societies">Sports & Societies</a> | 
  <a href="{{site.baseurl | absolute_url}}facilities">Facilities</a> | 
  <a href="{{site.baseurl | absolute_url}}contact">Contact</a> |
  <a href="{{site.baseurl | absolute_url}}welfare">Welfare</a> 
  <!-- <a href="https://www.google.com">FAQ</a>   -->
</p>
